@using WebsiteScraper.Models
@model SubSearchResult

<div class="sub-result">
    <div class="sub-result-title" data-bind="text: Title">
            @Model.Title
    </div>
    <div class="sub-result-source" data-bind="text: Source">
            @Model.Source
    </div>
</div>